html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1f2937;
    color: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.headerheader {
    width: 80%; 
    display: flex;
    gap: 16px;
    align-items: center;
    margin-left: 20%;
    margin-top: 1%;
}

.headerlogo {
    width: 100%;
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    gap: 16px;
    
    
}
  
.headerlinks {
    font-size: 18px;
    color: #e5e7eb;
    display: flex; 
    width: 100%;
    gap: 16px;
    
}

.subheader {
    width: 80%; 
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between; 
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.maintitle {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.description {
    font-size: 18px;
    color: #e5e7eb;
}

.image {
    width: 500px;
    height: 250px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20%;
}

.signup {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    padding: 0;
    border: 0;
}

.bodytitle {
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: #1f2937;
    margin: 28px 0px;
}

.bodytwo {
    width: 100%;
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.img {
    width: 150px;
    height: 150px;
    border: 2px solid rgb(25, 123, 161);
    border-radius: 10px;
}

.one, .two, .three, .four{
    max-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    
}

.text {
    max-width: 80%;
    text-align: center;
}

.bodytext {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inspirational {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 40%;
}

.bdtext {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

.autor {
    font-size: 24px;
    color: #1f2937;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 110px 0px;
}

.cta-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 100px;
    background-color: #3882f6;
    border-radius: 10px;
    gap: 80px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    color: white;
}

.cta-title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.cta-subtext {
    margin: 0;
}

.cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    width: 80px;
    height: 25px;
}

.footer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    height: 80px;
}

.footer {
    color: white;
}